@font-face {
   font-family: 'glyphicons-halflings-regular';
   src:  url('glyphicons-halflings-regular.woff2') format('woff2'),
         url('glyphicons-halflings-regular.woff') format('woff');
   font-weight: 600;
   font-style: normal;
}

.hello {
    color: #CC0000;
    font-family: 'glyphicons-halflings-regular';
}